<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppLayout"
        tools:targetApi="31">
        <activity
            android:name=".core.learn.FlashCardActivity"
            android:exported="false" />
        <activity
            android:name=".core.Profile"
            android:exported="false" />
        <activity
            android:name=".core.exam.ExamPartFinal"
            android:exported="false" />
        <activity
            android:name=".core.exercise.ExerciseResultActivity"
            android:exported="false" />
        <activity
            android:name=".core.exercise.ExerciseUnit1BasicActivity"
            android:exported="false" />
        <activity
            android:name=".core.exercise.ExerciseUnit1AdvancedActivity"
            android:exported="false" />
        <activity
            android:name=".core.exercise.ExerciseAdvancedActivity"
            android:exported="false" />
        <activity
            android:name=".core.support.SupportMain"
            android:exported="false" />
        <activity
            android:name=".core.learn.LearnMain"
            android:exported="false" />
        <activity
            android:name=".core.exercise.ExerciseMain"
            android:exported="false" />
        <activity
            android:name=".core.exam.ExamMain"
            android:exported="false" />
        <activity
            android:name=".core.exam.ExamVocabulary"
            android:exported="false" />
        <activity
            android:name=".core.exam.ExamGrammar"
            android:exported="false" />
        <activity
            android:name=".core.exam.ExamListening"
            android:exported="false" />
        <activity
            android:name=".core.exam.ExamWriting"
            android:exported="false" />
        <activity
            android:name=".core.exam.ExamSynthetic"
            android:exported="false" />
        <activity
            android:name=".core.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.Register"
            android:exported="false" />
        <activity
            android:name=".core.MainActivity"
            android:exported="false" />
    </application>

</manifest>